* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
    background-color: #222;
}

.txt-container{
    width: 100%;
    font-weight: bold;
    color: #D4AF37;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1rem;
    margin-top: 2%;
}

.txt-container p{
    margin-bottom: -1%;
}

.txt-container2{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.contact{
    color: white;
}

.section-1-bg{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.623)), url(../img/blind-justice.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.section-1-bg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 70vh;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

.white{
    color: white;
}

.question{
    width: 80%;
    height: 50vh;
    border: 2px solid transparent;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.call{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 32%;
    margin-bottom: 5%;
}

.click{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
}

.question button{
    background-color: green;
    width: 90%;
    height: 10%;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 2px 25px 4px #ffffff48;
    margin-top: 5%;
    transition: 600ms ease;
    font-size: 80%;
    margin-bottom: 28%;
}

.specs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: -4%;
    height: 80%;
    color: rgb(102, 102, 102);
}

.quadro{
    width: 100%; 
    background-color: white;
    border-radius: 10px;
    border-bottom: 3px solid #D4AF37;
    box-shadow: 0px 2px 10px 4px #00000048;
}

.quadro p{
    margin-top: 3%;
}

.question button:hover{
    width: 52%;
    height: 12%;
    font-size: 1.3rem;
}

/*section 2*/

.section-2{
    width: 100%;
    height: 250%;
    background-color: #E9E7E7;
    align-items: center;
    text-align: center;
}

.h1-1{
    padding-top: 150%;
    font-size: 150%;
    margin-bottom: 15%;
}

.services{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 6%;
    height: 250%;
}

.quadro-1{  
    width: 100%; 
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(233,231,231,1) 100%);
    border-radius: 10px;
}

.quadro-1 p{
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    font-size: 110%;
    color: rgb(95, 94, 94);;
}

.h1-2{
    padding-top: 15%;        
    font-size: 150%;
}

.section-2 h2{
    color: grey;
    font-size: 120%;
}

.section-2 button{
    background-color: green;
    width: 55%;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 2px 25px 4px #0000006c;
    margin-top: 15%;
    transition: 600ms ease;
}

.section-2  button:hover{
    width: 22%;
    height: 60px;
    font-size: 1.3rem;
}

 /*section 3*/

.section-3-bg{
    width: 100%;
    height: 210%;
    background-color: #E9E7E7;
    align-items: center;
    justify-content: center;
}

.resume{
    width: 100%;
    height: 55vh;
    background-color: #222;
    padding-top: 25%;
}

.left{
    display: none;
}

.right{
    width: 90%;
    height: 20vh;
    margin-top: -24%;
    color: white;
}

.right p{
    margin-top: 2%;
    font-size: 100%;
    text-align: justify;
}

.right button{
    background-color: green;
    width: 46%;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 2px 25px 4px #0000006c;
    font-size: 75%;
    margin-top: -1%;
    transition: 600ms ease;
}

.right  button:hover{
    width: 28%;
    height: 50px;
    font-size: 1rem;
}

.right h1{
    font-family: "Times New Roman", Times, serif;
    color: #D4AF37;
}

.right h2{
    color: #D4AF37;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
    margin-top: -2%;
}

.hg h1{
    margin-top: 10%;
    margin-bottom: 10%;
}

.quadro-2{  
    width: 100%; 
    height: 42vh;
    border-radius: 10px;
    background-color: #222;
    border-bottom: 3px solid #D4AF37;
    box-shadow: 0px 2px 10px 4px #00000048;
}

.quadro-2 i{  
    color: #D4AF37;
}

.quadro-2 h1{
    color: white;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1%;
}

.quadro-2 p{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-size: 120%;
    margin-top: 1%;
    text-align: justify;
    margin-top: 1%;
}

/*section 4*/

.section-4-bg{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.623)), url(../img/blind-justice.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.section-4-bg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 70vh;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

.info{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 25%;
}

.l{
    width: 100%;        
}

.l h1{
    color: #D4AF37;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    font-weight: bold;
}

.l h2{
    color: #D4AF37;
    font-family: "Times New Roman", Times, serif;
    font-size: 120%;
    margin-top: -3%;
    font-weight: bold;
}

.r{
    width: 100%;
    align-items: center;
    font-size: 150%;
    color: white;
    margin-top: 25%;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
    background-color: #222;
    color: white;
    font-weight: bold;
    font-size: 55%;
}

.txt-l{    
    padding-top: 0.8%;
    width: 100%;
    text-align: center;
}

.txt-r{
    padding-top: 0.9%;
    width: 100%;
    text-align: center;
}

.txt-r a{
    text-decoration: none;
    color: white;
    transition: 600ms ease;
}

.txt-r a:hover{
    color: #D4AF37;
    font-size: .8rem;
}